<% provide(:title, 'Ballots') %>
<h1>Ballots</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@ballot) do |form| %>
  
<div>
<%= form.fields_for :scores do |f| %>
<%= f.label :points, "Speakerpoints" %>
<%= f.text_field :points %>
<%= f.label :individualcomments, "Comments"%>
<%= f.text_area :individualcomments %> 
  <% end %>
</div>
  <%= form.label :comment, "Reasons for descision" %>
<%= form.text_area :comment %> 
<div>  
     <%= form.submit "Submit ballot", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>