<% provide(:title, @user.first + " " + @user.last) %>

<div class="row">
  <aside class="span4">
    <section>
<h1>
  <%= gravatar_for @user %>
  <%= @user.first %> <%= @user.last %>
</h1>
  </section>
  </aside>
  <div class="span8">
    <% if @user.ballots.any? %>
      <h3>Ballots (<%= @user.ballots.count %>)</h3>
      <ol class="ballots">
        <%= render @ballots %>
      </ol>
      <%= will_paginate @ballots %>
    <% end %>
  </div>
</div>
