<% provide(:title, @user.first + " " + @user.last) %>

<div class="row">
  <aside class="span4">
    <section>
<h1>
  <%= gravatar_for @user %>
  <%= @user.first %> <%= @user.last %>
</h1>
  </section>
  </aside>
  <div class="span8">
  <% if @user.ballots.any? %>
      <h3>Ballots that you have judged (<%= @user.ballots.count %>)</h3>
      <ol class="scores">
        <%= render @ballots %>
      </ol>
      <%= will_paginate @ballots %>
    <% end %>
    
    <% if @user.scores.any? %>
      <h3>Scores (<%= @user.scores.count %>)</h3>
      <ol class="scores">
        <%= render @scores %>
      </ol>
      <%= will_paginate @scores %>
    <% end %>
    
  </div>
</div>